<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>

  </mat-card-header>

  <img mat-card-image [src]="hero | heroImage" [alt]="hero.superhero">

  <mat-card-content class="mt-2">
    <h4>{{ hero.publisher }}</h4>
    <p>
      <strong>Primera aparición: </strong>{{ hero.first_appearance}}
      <br>
      <mat-chip-listbox>
        <mat-chip *ngFor="let personaje of hero.characters.split(',') | slice:0:3">{{ personaje }}</mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-card-actions>

    <button mat-raised-button color="primary" [routerLink]="['/heroes/edit',hero.id]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <span class="spacer"></span>

    <button mat-raised-button color="primary" [routerLink]="['/heroes',hero.id]">
      <mat-icon>more_horiz</mat-icon>
      Más
    </button>
  </mat-card-actions>
</mat-card>
