<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px'}">

    <mat-toolbar color="warn">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list *ngFor="let boton of sidebarItems">

      <!-- Definir enlace y acción de esconder el menu -->
      <!-- <mat-list-item>
        <mat-icon matListItemIcon>save</mat-icon>
        Guardar
      </mat-list-item> -->
      <mat-list-item (click)="sidenav.toggle()" routerLink={{boton.url}}>
        <mat-icon matListItemIcon>{{boton.icon}}</mat-icon>
        {{boton.label}}
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>{{user?.usuario}}</span>
    <button mat-button (click)="onLogout()">
      Logout
    </button>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
